* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

section {
    height: 100vh;
}

body {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}



.desc p {
    font-size: 17px;
}


@media screen and(max-width:992px) {
    
}